<div class="post">
  <div class="post-info">
    {% if page.fields.datePublished %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.fields.datePublished }}">{{ page.fields.datePublished }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.fields.title }}</h1>

  <div class="post-line"></div>

  {{ page.fields.body }}

  {% if page.fields.tags %}
  <p>Tags:
    <ul class="taglist">
      {% for tag in page.fields.tags %}
      <li><a href="">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}

</div>
