{% extends "layout.html" %}
{% block body %}
<div class="post">
  <div class="post-info">
    {% if item.fields.datePublished %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ item.fields.datePublished }}">{{ item.fields.datePublished }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ item.fields.title }}</h1>

  <div class="post-line"></div>

  {{ item.fields.body | markdown | safe }}

  {% if item.fields.tags %}
  <p>Tags:
    <ul class="taglist">
      {% for tag in item.fields.tags %}
      <li><a href="">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}

</div>
{% endblock %}
