---
layout: default
---

<div class="listing container">

  {% assign posts = site.categories[page.term] %}

  <div class="category">
    <h2 class="is-size-3">{{ page.term }}</h2>

    <div class="tile is-ancestor minors">
    {% for post in posts offset %}
      <div class="tile is-child is-4">
        <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="content is-padded">
          <h3>{{ post.title }}</h3>
          <p>{{ post.lead }}</p>
        </div>
        </a>
      </div>
    {% endfor %}
    </div>

  </div>

</div>
