---
layout: default
---

<script src='https://www.google.com/recaptcha/api.js'></script>

<style>
  .control {
    margin: 1rem 0;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .text {
    width: 60%; 
    max-width: 60%;
  }
  
  .phone {
   width: 200px; 
  }
  
  .textarea {
    width: 60%;
    height: 500px;
  }
  
</style>  

<div class="post">
  <h1>{{ page.title }}</h1>
  
  <p>If you'd like to get in touch, we'd love to hear from you.</p>
  <p>Complete the form below and we'll get back to you.</p>

  <form id="contact_form" method="post" action="">
    <input type="hidden" name="response" value="contact-response.html">
    
    <div class="control">
      <label>Your name</label>
      <input class="text" type="text" name="name" required> 
    </div>
    
    <div class="control">
      <label>Your email address</label>
      <input class="text" type="text" name="email" required email> 
    </div>
    
    <div class="control">
      <label>Your contact number (optional)</label>
      <input class="text phone" type="text" name="phone"> 
    </div>   
    
     <div class="control">
      <label>Your message</label>
      <textarea class="textarea" name="message"></textarea> 
    </div>      
    
    <button
      class="g-recaptcha"
      data-sitekey="6Lcke1YUAAAAAMs34BfCP767CNnrHZEcmcleY0XR"
      data-callback="onSubmit">
      Submit
    </button>
  
  </form>

</div>
