---
layout: default
---

<div class="listing container">

  <div class="category">
    <h2 class="is-size-3">Top stories</h2>
    {% assign posts = site.categories.top-stories %}
    {% include category_posts.html posts=posts %}
  </div>

  {% for category in site.categories %}
    {% if category[0] == 'general' or category[0] == 'home-page' or category[0] == 'top-stories' %}
      {% continue %}
    {% endif %}

  <div class="category">
    <h2 class="is-size-3">{{ category[0] }}</h2>
    {% assign posts = category[1] %}
    {% include category_posts.html posts=posts %}
    <p class="more-stories"><a href="{{ category[0] | prepend: site.categoryurl }}">Read more {{ category[0] }} stories</a></p>
  </div>

  {% endfor %}

</div>
